spring.application.name=servicos_auto

#DataBase
spring.datasource.url=jdbc:jdbc:postgresql://database:5432/servicos_auto
spring.datasource.username=servicos_auto
spring.datasource.password=servicos_auto
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Log level
logging.level.br.com.servicos_auto=DEBUG
# Formato do log
logging.pattern.console=%d{yyyy-MM-dd HH:mm:ss} - %msg%n

# Imgur 
imgur.client-id=Imgur cliente id
imgur.client-secret=Imgur cliente secret
imgur.refresh_token=refresh_token from imgurApi

#swagger
springdoc.swagger-ui.path=/docs

# OpenTelemetry
otel.exporter.otlp.endpoint=http://sentinel-otel:4318
otel.service.name=servicos_auto
otel.metrics.exporter=otlp
otel.traces.exporter=otlp
otel.logs.exporter=otlp

# port
server.port=8085