OTEL_SERVICE_NAME=Sentinel_API-01
VM_IP=ip
OTEL_EXPORTER_OTLP_ENDPOINT=http://API-02_otel_collector:4317
# OTEL_EXPORTER_OTLP_ENDPOINT=http://sentinel-otel:4317
# OTEL_EXPORTER_OTLP_ENDPOINT=http://3.147.66.117:4317
OTEL_EXPORTER_OTLP_INSECURE=true
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp

# Melhoria
OTEL_LOGS_EXPORTER=otlp
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
OTEL_LOG_LEVEL=DEBUG
OTEL_PYTHON_INSTRUMENTATION_ENABLED=true
OTEL_PYTHON_INSTRUMENTATION_EXTENSIONS="opentelemetry_instrumentation_fastapi,opentelemetry_instrumentation_psutil,opentelemetry_instrumentation_sqlalchemy"
# OTEL_METRIC_EXPORT_INTERVAL=5000  # 5 segundos